{% extends 'zipcode/index.html' %}

{% block manifest %} manifest="/zipcode/media/ho600_zipcode_embeded.manifest"{% endblock %}

{% block title %} :: 嵌入式範例{% endblock %}

{% block script %}
    <script type="text/javascript" src="/zipcode/media/ho600_zipcode_embeded.js"></script>
{% endblock %}

{% block body %}
    <h1>嵌入網頁語法如下：</h1>
    <textarea rows="4" cols="120">
<script type="text/javascript" src="http://zipcode.ho600.com/zipcode/media/ho600_zipcode_embeded.js"></script>
<script type="text/javascript">window.onload = loadHo600Zipcode;</script>
<script type='text/javascript'>writeHo600ZipcodeDIV('customize_name1');</script>
<script type='text/javascript'>writeHo600ZipcodeDIV('customize_name2');</script>
    </textarea>

    <h1>說明如下：</h1>
    <p>
        在同一頁面上，可任嵌入多個「3+2住址查詢表單」，若要自定 CSS ，則建議使用 'customize_name'
        方式作標記。當嵌入 1 個以上的表單時，僅需加入 writeHo600ZipcodeDIV('xxx')
        語法即可。 ho600_zipcode_embeded.js 不須多次載入，且 window.onload
        也只宣告一次。下方為嵌入實例。
    </p>

    <script type="text/javascript" src="http://zipcode.ho600.com/zipcode/media/ho600_zipcode_embeded.js"></script>
    <script type="text/javascript">window.onload = loadHo600Zipcode;</script>
    <h3>1:</h3>
    <script type='text/javascript'>writeHo600ZipcodeDIV('no_1');</script>

    <h3>2:</h3>
    <script type='text/javascript'>writeHo600ZipcodeDIV('no_2');</script>

    <h3>3:</h3>
    <script type='text/javascript'>writeHo600ZipcodeDIV('no_3');</script>
{% endblock %}