<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>3+2郵遞區號查詢系統</title>
    <script type="text/javascript" src="/zipcode/media/ho600_zipcode.js"></script>
    <script type="text/javascript" src="/zipcode/media/actb_common.js"></script>
    <script type="text/javascript" src="/zipcode/media/actb.js"></script>
    <script type="text/javascript">
        function getElementByClassName(classname, node)  {
            // only want the first one.
            var re = new RegExp('\\b' + classname + '\\b');
            var els = node.getElementsByTagName("*");
            for(var i=0; i<els.length; i++) {
                if(re.test(els[i].className)) {
                    return els[i];
                }
            }
        }
        function getElementsByClassName(classname, node)  {
            if(!node) {
                node = document.getElementsByTagName("body")[0];
            }
            var a = [];
            var re = new RegExp('\\b' + classname + '\\b');
            var els = node.getElementsByTagName("*");
            for(var i=0; i<els.length; i++) {
                if(re.test(els[i].className)) {
                    a.push(els[i]);
                }
            }
            return a;
        }
        function selectCountys (node) {
            return function() {
                var county = this.value;
                var districts = HO600_COUNTY[county];
                var $district = getElementByClassName('districts', node);
                $district.length = 0;
                for (var i=0; i<districts.length; i++) {
                    $district.options.add(new Option(districts[i][1]+'('+districts[i][0]+')', districts[i][0]));
                }
                updateAddress(node);
            }
        }
        function selectDistricts (node) {
            return function () {
                var district = this.value;
                var $street = getElementByClassName('street', node);
                var $kind = getElementByClassName('kinds', node);
                var $number = getElementByClassName('number', node);

                //var obj = actb($street, HO600_DISTRICT[district]);
                this.actb_obj.actb_keywords = HO600_DISTRICT[district];

                $street.value = '';
                $kind.length = 0;
                $number.value = '';

                updateAddress(node);
            }
        }
        function removeKinds (node) {
            return function () {
                var $street = this;
                if($street.length == 0){
                    var $kind = getElementByClassName('kinds', node);
                    $kind.length = 0;
                }
            }
        }
        function createKinds (node) {
            return function () {
                var $kind = this;
                var $district = getElementByClassName('districts', node);
                var $street = getElementByClassName('street', node);

                if ($street.value == '') {
                    return false;
                }
                
                if (! HO600_KIND[$district.value+$street.value]) {
                    $kind.length = 0;
                    $kind.options.add(new Option('未存在的路街名', ''));
                    return false;
                }

                var list = HO600_KIND[$district.value+$street.value];
                if ($kind.options.length > 0 && list[0][0] == $kind.options[0].value) {
                    return false;
                } else {
                    $kind.length = 0;
                    for (var i=0; i<list.length; i++) {
                        $kind.options.add(new Option(list[i][1]+'('+$district.value+list[i][0]+')', list[i][0]));
                    }
                   
                    updateAddress(node);
                }
            }
        }
        function typeNumber (node) {
            return function () {
                updateAddress(node);
            }
        }
        function reset (node) {
            return function () {
                var $county = getElementByClassName('countys', node);
                $county.value = '台北市';
                var $district = getElementByClassName('districts', node);
                $district.length = 0;
                var districts = [["100", "中正區"], ["103", "大同區"],
                    ["104", "中山區"], ["105", "松山區"], ["106", "大安區"],
                    ["108", "萬華區"], ["110", "信義區"], ["111", "士林區"],
                    ["112", "北投區"], ["114", "內湖區"], ["115", "南港區"],
                    ["116", "文山區"]];
                for (var i=0; i<districts.length; i++) {
                    $district.options.add(new Option(districts[i][1]+'('+districts[i][0]+')', districts[i][0]));
                }
                var $street = getElementByClassName('street', node);
                $street.value = '';
                var $kind = getElementByClassName('kinds', node);
                $kind.length = 0;
                var $number = getElementByClassName('number', node);
                $number.value = '';

                updateAddress(node);
            }
        }
        function updateAddress (node) {
            var $county = getElementByClassName('countys', node);
            var county = $county.value;
            var $district = getElementByClassName('districts', node);
            var district = $district.options[$district.selectedIndex].text;
            district = district.replace(/\(.*\)/, '');

            var $street = getElementByClassName('street', node);
            var street = $street.value;
            
            var $number = getElementByClassName('number', node);
            var number = $number.value;

            var $zipcode = getElementByClassName('zipcode', node);
            var $kind = getElementByClassName('kinds', node);
            $zipcode.innerText = $district.value + $kind.value;

            var $address = getElementByClassName('address', node);
            if (street) {
                if (number) {
                    $address.innerText = county + ' ' + district + ' ' + street + ' ' + number;
                } else {
                    $address.innerText = county + ' ' + district + ' ' + street;
                }
            } else {
                $address.innerText = county + ' ' + district;
            }

            var $zipcode_address = getElementByClassName('zipcode_address', node);
            $zipcode_address.innerText = $zipcode.innerText + ' ' + $address.innerText;
        }
        function loadHo600 () {
            var ho600s = getElementsByClassName('ho600');
            for (var i=0; i<ho600s.length; i++){
                var $zipcode = getElementByClassName('zipcode', ho600s[i]);
                $zipcode.innerText = '00000';

                var $reset = getElementByClassName('reset', ho600s[i]);
                $reset.onclick = reset(ho600s[i]);
                var $county = getElementByClassName('countys', ho600s[i]);
                $county.onchange = selectCountys(ho600s[i]);
                var $district = getElementByClassName('districts', ho600s[i]);
                $district.onchange = selectDistricts(ho600s[i]);
                var $street = getElementByClassName('street', ho600s[i]);
                
                var $kind = getElementByClassName('kinds', ho600s[i]);
                $kind.onmouseover = createKinds(ho600s[i]);
                $kind.onchange = updateAddress(ho600s[i]);
                var $number = getElementByClassName('number', ho600s[i]);
                $number.onkeyup = typeNumber(ho600s[i]);

                var district = $district.value;
                $district.actb_obj = actb($street, HO600_DISTRICT[district]);

                updateAddress(ho600s[i]);
            }
        }
    </script>
  </head>
  <body onload="loadHo600();">
    <div class="ho600">
        <input type="submit" value="重設" class="reset" />
        <select class="countys">
            <option value="台北市">台北市</option>
            <option value="基隆市">基隆市</option>
            <option value="台北縣">台北縣</option>
            <option value="桃園縣">桃園縣</option>
            <option value="新竹市">新竹市</option>
            <option value="新竹縣">新竹縣</option>
            <option value="苗栗縣">苗栗縣</option>
            <option value="台中市">台中市</option>
            <option value="台中縣">台中縣</option>
            <option value="彰化縣">彰化縣</option>
            <option value="南投縣">南投縣</option>
            <option value="雲林縣">雲林縣</option>
            <option value="嘉義市">嘉義市</option>
            <option value="嘉義縣">嘉義縣</option>
            <option value="台南市">台南市</option>
            <option value="台南縣">台南縣</option>
            <option value="高雄市">高雄市</option>
            <option value="高雄縣">高雄縣</option>
            <option value="屏東縣">屏東縣</option>
            <option value="宜蘭縣">宜蘭縣</option>
            <option value="花蓮縣">花蓮縣</option>
            <option value="台東縣">台東縣</option>
            <option value="澎湖縣">澎湖縣</option>
            <option value="金門縣">金門縣</option>
            <option value="連江縣">連江縣</option>
            <option value="南海島">南海島</option>
            <option value="釣魚台">釣魚台</option>
        </select>
        <select class="districts">
            <option value="100">中正區(100)</option>
            <option value="103">大同區(103)</option>
            <option value="104">中山區(104)</option>
            <option value="105">松山區(105)</option>
            <option value="106">大安區(106)</option>
            <option value="108">萬華區(108)</option>
            <option value="110">信義區(110)</option>
            <option value="111">士林區(111)</option>
            <option value="112">北投區(112)</option>
            <option value="114">內湖區(114)</option>
            <option value="115">南港區(115)</option>
            <option value="116">文山區(116)</option>
        </select>
        <span title="如： 羅斯福路 1 段。">路街名： <input type="text" class="street" /></span>
        <select class="kinds">
            <option value=""></option>
        </select>
        <span title="如： 9999 號 3 樓之 1 。">地址： <input type="text" class="number" /></span>
        <br/>
        <span>郵遞區號：</span>
        <span class="zipcode"></span>
        <br/>
        <span>地址　　：</span>
        <span class="address"></span>
        <br/>
        <span>地址全名：</span>
        <span class="zipcode_address"></span>
    </div>
  </body>
</html>
